{% extends "../base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

{% if validlink %}

<form method="post">
    {% csrf_token %}

    {{ form|crispy }}
    <input type="submit" value="Назначить новый пароль" class="btn btn-success mt-3">
</form>

{% else %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Ошибка</div>
            <div class="card-body">
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endif %}

{% endblock %}